name: barcode_reader_plus
description: "Reads barcodes using camera"
version: 1.1.6
homepage: https://pub.dev/packages/barcode_reader_plus

environment:
  sdk: ^3.7.2
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2
  visibility_detector: ^0.4.0+2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.abomis.barcode_reader_plus
        pluginClass: BarcodeReaderPlugin
      ios:
        pluginClass: BarcodeReaderPlugin

